*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
backend/underflow/api_api/__pycache__/__init__.cpython-38.pyc
backend/underflow/api_api/__pycache__/admin.cpython-38.pyc
backend/underflow/api_api/__pycache__/apps.cpython-38.pyc
backend/underflow/api_api/__pycache__/models.cpython-38.pyc
backend/underflow/api_api/migrations/__pycache__/__init__.cpython-38.pyc
backend/underflow/underflow/__pycache__/__init__.cpython-38.pyc
backend/underflow/underflow/__pycache__/settings.cpython-38.pyc
backend/underflow/underflow/__pycache__/urls.cpython-38.pyc
backend/underflow/underflow/__pycache__/wsgi.cpython-38.pyc
backend/underflow/api_api/__pycache__/serializers.cpython-38.pyc
backend/underflow/api_api/__pycache__/urls.cpython-38.pyc
backend/underflow/api_api/__pycache__/views.cpython-38.pyc
backend/underflow/api_api/migrations/0002_auto_20211016_1117.py
backend/underflow/api_api/migrations/0003_alter_pointslist_descriptions.py
backend/underflow/api_api/migrations/__pycache__/0001_initial.cpython-38.pyc
backend/underflow/api_api/migrations/__pycache__/0002_auto_20211016_1117.cpython-38.pyc
backend/underflow/api_api/migrations/__pycache__/0003_alter_pointslist_descriptions.cpython-38.pyc
