*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
backend/underflow/api_api/__pycache__/__init__.cpython-38.pyc
backend/underflow/api_api/__pycache__/admin.cpython-38.pyc
backend/underflow/api_api/__pycache__/apps.cpython-38.pyc
backend/underflow/api_api/__pycache__/models.cpython-38.pyc
backend/underflow/api_api/migrations/__pycache__/__init__.cpython-38.pyc
backend/underflow/underflow/__pycache__/__init__.cpython-38.pyc
backend/underflow/underflow/__pycache__/settings.cpython-38.pyc
backend/underflow/underflow/__pycache__/urls.cpython-38.pyc
backend/underflow/underflow/__pycache__/wsgi.cpython-38.pyc
backend/underflow/api_api/__pycache__/__init__.cpython-38.pyc
backend/underflow/api_api/__pycache__/admin.cpython-38.pyc
backend/underflow/api_api/__pycache__/apps.cpython-38.pyc
backend/underflow/api_api/__pycache__/models.cpython-38.pyc
backend/underflow/api_api/migrations/__pycache__/__init__.cpython-38.pyc
backend/underflow/underflow/__pycache__/__init__.cpython-38.pyc
backend/underflow/underflow/__pycache__/settings.cpython-38.pyc
backend/underflow/underflow/__pycache__/urls.cpython-38.pyc
backend/underflow/underflow/__pycache__/wsgi.cpython-38.pyc
